APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=ajaib@sandbox9daad78f17254f6e9165269598c0b745.mailgun.org
MAIL_PASSWORD=@ja!b
MAIL_ENCRYPTION=tls

MAILGUN_DOMAIN=sandbox9daad78f17254f6e9165269598c0b745.mailgun.org
MAILGUN_SECRET=key-f2e55f17f8c9c00824d7fb5a5e06e3e9

SES_KEY=AKIAI3PVYE47SX3WZGFA
SES_SECRET=Asv6B5+cDdDBjCLrlu8b5MJXcV16K025tCxrktyyCNAK

PUBNUB_KEY=pub-c-20764d9e-b436-4776-b03a-adcae96c2a6b
SUBNUB_KEY=sub-c-6bad3874-9efa-11e5-baf7-02ee2ddab7fe

ASSET_STORAGE=local
S3_PUBLIC_KEY=AKIAJ6WZ4YNBXOKJOH4A
S3_SECRET=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
S3_REGION=us-west-2
S3_BUCKET=ajaibstorage