/vendor
/public/build/*
/public/css/vendor.css
/public/css/main.css
/public/js/vendor.js
/public/js/main.js
/public/*.map
/node_modules
/config/database.php
/app/Modules/Tests
/storage/files/*
Homestead.yaml
Homestead.json
.env
.idea
.idea/*